  
body{
 
font-family: poppins;

}






.active{

  display: none;
}


.btn-close{

  width:5px;
  font-size: 12px;
  padding: 2px;


}

.btn-home{

  display: grid;
  justify-content: flex-start;
  height: 168px;
  width:5px;
  margin-top: -167px;

}

@media only screen and (max-width:497px){




.btn-home{

  display: grid;
  justify-content: flex-end !important;
  align-items: flex-end;
  height: 0px;
  width:100%;
  margin-top:0px;

}

.btn-close{

  width:300px;
  font-size: 12px;
  padding:0px;


}



}









/*--------------------------------------------------------------
# view icon
--------------------------------------------------------------*/

#noviews{

position:relative;
top:45px;
left:10px;
background-color: rgba(0,0,0,0.8);
color: white;
font-weight: bold;
padding: 7px;
z-index: ;
font-size:13px;

display: none;
}



 
#views{

position:relative;
top:45px;
left:-27px;
background-color: rgba(0,0,0,0.8);
color: white;
font-weight: bold;
padding: 7px;
z-index: ;
font-size: 13px;
display: none;
}



#count{


color:white;
background-color: red;
border-radius: 50%;
padding:0px 6px;
font-weight: bold;
position: absolute;
right:;
margin-top: -5px;
font-size: 10px;
z-index: 1;

}



/*--------------------------------------------------------------
# discount styles
--------------------------------------------------------------*/

#discount{
background-color: rgba(255,195,50,0.4);
color: rgba(255,95,50,1);
border: 1px solid transparent transparent;
position:relative;
top:40px;
font-weight: bold;
padding:3px;
left: 75%;

font-size:13px;

} 






.active{

display: none;


}








#q::placeholder{

font-family:sans-serif;

font-size: 14px;

margin-left: 20px;

opacity: 0.8;

}




.alert-danger{

  padding:15px;
  position: relative;
  margin-top: 20px;


}



/*--------------------------------------------------------------
# drop down styles
--------------------------------------------------------------*/


#show_production{ 


padding: 10px;

z-index: 1

box-shadow: 0px 0px 4px rgba(0,0,0,0.5);

border:1px solid rgba(0,70,90,0.3);

width: 300px;

color: black;

text-transform: capitalize;

background-color: white;

background-color: white;

padding-left: 80px;


}







@media only screen and (max-width:497px){

#show_production{ 


padding: 10px;

z-index: 1

box-shadow: 0px 0px 4px rgba(0,0,0,0.5);

border: 2px solid skyblue;

width: 300px;

color: black;

text-transform: capitalize;

background-color: white;

background-color: white;


}


}



#show_product{

position:absolute;
top: 150px;
transform: translate(-50%,-50%);
left: 500px;

padding:5px;

z-index: 1;
  
}



#show_product a{ 

font-size:12px;
color: black;
}

@media only screen and (max-width:497px){



#show_product{

position:absolute;
top: 150px;
transform: translate(-50%,-50%);
left: 250px;

padding:5px;

z-index: 1;
  
}



}








/*--------------------------------------------------------------
# header styles
--------------------------------------------------------------*/

.nav_login,.nav_signup{


font-size: 13px;

}

.banner figcaption{

font-size: 12px;

}



#main p{

  padding: 15px;
}





/*--------------------------------------------------------------
# menu
--------------------------------------------------------------*/

.menu{


  background-image: url(../../../img/mask_group.png);

  background-size: cover;

  padding: 30px;

  background-position: center;

  margin-top: 30px;
}

.menu p{

  font-size: 13px;
}


.menu h6, .menu h5{

  font-weight: bold;
}

.menu input,.menu select,.menu textarea{

  border:1px solid rgba(0,0,0,0.2);
  font-size: 13px;

  
}


.menu button{
font-size: 13px;

}





.menu_mini{


  background-color: white;

  opacity: 0.9;

  padding: 10px;
}


/*--------------------------------------------------------------
# offenders
--------------------------------------------------------------*/
.offenders{

  text-align: center;

  margin-top: 30px;

  border:4px solid skyblue;

  padding:15px;

  border-radius: 10px;

  font-size: 13px;
}


.offenders img{

  width: 200px;
}


.offenders button{

  border:1px solid skyblue;
  padding: 3px 18px;
  margin-top: 30px;
  background-color: rgba(192,192,192,0.3);
  font-weight: bold;
  color: skyblue;
  font-size: 14px;
}


/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.footer h6{

  font-weight: bold;

  font-size: 16px;

  margin-bottom: 10px;
}


.footer p{

  font-size: 13px;
}


.footer{
  padding: 10px 20px;

  background-color: rgba(192,192,192,0.5);
}


.footer img{

width: 140px;

}

.footer button{

  font-size: 13px;

  border:1px solid transparent;

  background-color: rgba(0,0,0,0.6);

  color: white;

  margin-bottom: 8px;


}


/*--------------------------------------------------------------
# assets
--------------------------------------------------------------*/

#data_price,#data_name{

  padding-left: 20px;
  font-size: 13px;
  text-transform: capitalize;
}



#assets_container .package  img{


width: 180px;
height: 120px;
float: right;

}


@media only screen and (max-width:767px){




#assets_container .package  img{


width: 19.8em;

height: 80px;


}


}


@media only screen and (min-width:468px) and (max-width:767px){



#assets_container .package  img{


width: 19em;

height: 80px;


}


#assets_container .package{


display: inline-block;

margin:1em 2em;

border:1px solid rgba(0,70,90,0.1);

padding: 1px;


}








}




#assets_container .package{


display: inline-block;

margin:1em 1em;

border:1px solid rgba(0,70,90,0.1);

padding: 1px;


}







#assets_container {

font-size: 10px;

width: 100%;

margin-top: 30px;

}





#assets_container  figure img{

width: 100%;

height: 400px;



}


#assets_container {

position: relative;



}


#assets_container figcaption{

position: absolute;

top: 50%;

left: 0;

right: 0;

padding:3px 20px;

margin: auto;

color: black;

font-size: 12px;

border:1px solid transparent;

background-color: white;

border-radius: 10px;

text-align: center;



}











/*--------------------------------------------------------------
# Explore button
--------------------------------------------------------------*/
.btn-default{

  border:3px solid skyblue;
  border-radius: 5px;

  width: 50%;
  font-size: 13px;


 
}


/*--------------------------------------------------------------
# button search category
--------------------------------------------------------------*/
#category_button{

font-size: 12px;
float: right;
margin-top: -33px;
margin-right: 1px;

}

#categories{

  font-size: 12px;
  text-transform: capitalize;
}

#search_category{

border:1px solid transparent;

background-color: #F5F5F5;

box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

font-size: 13px;

}


.checkbox{

font-size: 12px;

}




/*--------------------------------------------------------------
# category_list
--------------------------------------------------------------*/


#category_list_home{

position: relative;

left: -55%;

padding: 0;

margin: 0;

width: 100%;

}



#category_list{

position: absolute;

left: 0;

padding: 0;

margin: 0;

}



#category_list img{

width: 180px;

height: 210px;
  
}



#category_list ul{

list-style-type: none;


}

#category_list figcaption{

color: black;

text-align: center;

position: relative;

bottom: 90px;

font-weight: bold;

margin: auto;

left: 0;

right: 0;

text-transform: capitalize;

background-color: white;

padding:5px;

width:60%;

border-radius: 5px;

font-size: 11px;
}


@media only screen and (max-width:767px){

#category_list_home{

position: relative;

left: 0%;

padding: 0;

margin: 0;

width: 100%;

}
 

}




/*--------------------------------------------------------------
# navigator sign up/ log in
--------------------------------------------------------------*/


.nav_signup{


border:1px solid none;
border-left:1px solid white;
border-left-color: rgba(192,192,192,1);
padding-left:8px;

}



/*--------------------------------------------------------------
# Background picture letters
--------------------------------------------------------------*/



#main h3{


  white-space: pre;
  color: white !important;
  font-family: poppins;
  text-transform: capitalize;
  font-size: 25px;
  margin-top: 10%;
  font-weight: bold;
}


#main h3::first-letter{



  text-transform: capitalize;
}


/*--------------------------------------------------------------
# Background picture
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# Background picture mobile
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# icons gallery 
--------------------------------------------------------------*/
.add_icon{

padding: 20px;
background-color: #D5D5D5;
border-radius: 10px;
border: 1px solid transparent;
box-shadow: 0px 3px 8px rgba(255,255,255,0.9);



}

.icons{

  display: inline-block;


}

#img_coca{

  width: 70%;
  margin-top: 0px;
}



@media only screen and (min-width:365px) and (max-width:553px){



#img_coca{

  width: 60%;
  height: 100px;
  margin-top: 0px;

}


.add_icon{

padding: 10px;
margin-top: -105px;
float: right;
position: relative;
background-color: #D5D5D5;
border-radius: 10px;
border: 1px solid transparent;
box-shadow: 0px 3px 8px rgba(255,255,255,0.9);



}


.add_icon, #img_coca{
display: inline-block;
}








}




@media only screen and (min-width:553px) and (max-width:767px){



#img_coca{

  width: 60%;
  height: 100px;
  margin-top: 0px;

}


.add_icon{

padding: 10px;
margin-top: -10px;
float: right;
position: relative;
background-color: #D5D5D5;
border-radius: 10px;
border: 1px solid transparent;
box-shadow: 0px 3px 8px rgba(255,255,255,0.9);



}


.add_icon, #img_coca{
display: inline-block;
}








}









@media only screen and (min-width:767px) and (max-width:1280px){



#img_coca{

  width: 60%;
  height: 100px;
  margin-top: 0px;

}


.add_icon{

padding: 10px;
margin-top: -10px;
float: right;
position: relative;
background-color: #D5D5D5;
border-radius: 10px;
border: 1px solid transparent;
box-shadow: 0px 3px 8px rgba(255,255,255,0.9);



}


.add_icon, #img_coca{
display: inline-block;
}





#package{

  position: relative;

background-color:rgba(243,243,243,0.1);margin-bottom:50px;border:1px solid rgba(0,70,90,0.2);
padding:25px 8px;

width:150px;

display: inline-block;
margin:1em 1em;

}




}




@media only screen and (min-width:497px) and (max-width:767px){


#package{

background-color:rgba(243,243,243,0.1);padding-bottom: 8px;margin-bottom:50px;border:1px solid rgba(0,70,90,0.2);
padding: 8px;

width:140px;

display: inline-block;
margin:1em 1em;

}


}























.add_icon, #img_coca{

  margin-left: 8px;
  margin-right: 8px;
}



.banner figure{
  position: relative;
  float: right;
  margin-right: 50px;
  padding: 10px;
  
}

@media only screen and (max-width:767px){


.banner figure{

  
}

.banner figcaption{
  font-size: 10px !important;
  
}



}




figcaption a{

  text-decoration: none;
  color: black;
}




/*--------------------------------------------------------------
# items
--------------------------------------------------------------*/

#package{

background-color:rgba(243,243,243,0.1);padding-bottom:15px;margin-bottom:50px;border:1px solid rgba(0,70,90,0.2);
padding: 0px 0px;

width:190px;

display: inline-block;
margin:1em 1em;

}


#priceitem{

font-family:Poppins;
font-weight: bold;
color:black;
opacity: 0.8;
text-transform:capitalize;
font-size:13px;
padding:5px;
position: relative;
margin-bottom: 8px;


}



#conitem,#locitem,#catitem{
font-size:12px;
font-family:poppins;
color: rgba(0,0,0,0.9);
padding:10px;
width:100%;

font-weight: bold;
text-transform: capitalize;


}




#imgitem{
height: 140px;
width:100%;

}



#nameitem a{
  font-size:12px;
  font-weight:normal;
  padding-left:10px;
  text-transform:capitalize;
  color: rgba(0,0,0,0.4);
  padding-top: 8px;

 word-wrap:break-word;
 text-align:center;
  font-family:poppins;  
}



@media only screen and (max-width:497px){

#package{

background-color:rgba(243,243,243,0.1);padding-bottom: 8px;margin-bottom:50px;border:1px solid rgba(0,70,90,0.1);
padding: 8px;

width:200px;

display: inline-block;
margin:1em 1em;

}


#priceitem{

font-family:Poppins;
font-weight: bold;

text-transform:capitalize;
font-size:13px;
padding:10px;
position: relative;



}
#conitem,#locitem,#catitem{

padding: 8px;
}

#imgitem{

height: 120px;
width:100%;
margin-top:-24px;

border-radius:15px 15px 0px 0px;
}

#nameitem a{
  font-size:12px;
  font-weight:normal;
  padding-left:10px;
  text-transform:capitalize;
  color: rgba(0,0,0,0.4);

 word-wrap:break-word;
 text-align:center;
  font-family:poppins;  
}







}


#btn_explore{


  padding: 5px 4px;
  font-size: 12px;
  border:1px solid rgba(0,90,70,0.6);
  color: black;
}




/*--------------------------------------------------------------
# Carousel mobile
--------------------------------------------------------------*/

@media only screen and (max-width:767px){




.banner figcaption{

font-size: 12px;

}

  
}



/*--------------------------------------------------------------
# Navigation for mobile---desktop
--------------------------------------------------------------*/



 .overlay {

display: none;


 }



  


#open-btn{
   display: none;
  color: white;
  font-size:25px;
  float: right;
  cursor: pointer;
  
  }






/*--------------------------------------------------------------
# Navigation for mobile---phones
--------------------------------------------------------------*/


@media only screen  and (min-width:498px) and (max-width:767px){

.overlay #section_heart{
 
 display: flex!important;
align-items: flex-start;
justify-content: space-between;
width: 20%;
}








}




@media only screen and (max-width:767px){


.overlay{
height: 0%;
width: 100%;
display: block;
position:absolute;
z-index: 300;
top: 128px;
right: 0;
color:#818181;
background-color: rgba(0,60,90,1);
overflow-x:hidden;


}
.overlay-content{
position:relative;
top:10%;
width: 100%;
text-align: center;

}

.overlay a{
padding: 4px;
font-size:13px;
color: white; 
display: block;
text-transform: capitalize;
font-weight:200;
font-family:poppins;
transition: 0.3s;
}

#section_heart{
 
 display: flex!important;
align-items: flex-start;
justify-content: space-around;
width: 30%;
display: inline-block;
}

#nav_button{

  display: inline-block !important;
  font-family: poppins;
}



.overlay .close-btn{
position: absolute;
top:-1px;
left:2px;
font-size:19px;
color:white;
border:1px solid transparent;

border-radius:50%;
padding:0px 10px;
z-index: 300;

}

.overlay a:hover,.overlay a:focus{
  color:red;
  text-decoration: none;
}


#open-btn{
   display: block;
  color: white;
  font-size:25px;
  position: absolute;
  cursor: pointer;

  
  
}






}



/*--------------------------------------------------------------
# Navigation button/nav_bar
--------------------------------------------------------------*/


.nav_button img{




  
}











    
.nav_button{

font-family: 'Montserrat',sans-serif;

float: left;

font-size:13px;

cursor: pointer;

color:white;

text-transform:capitalize;


margin-top: 10px;
margin-right:10px;
margin-left:10px;

font-weight: 300;



}



.nav_link{



float: left;

font-size:13px;

cursor: pointer;

color:black;

text-transform:capitalize;

text-decoration: none;

margin-right:23px;

margin-left:23px;

font-weight: 300;

font-family: poppins;

}


.nav_link{



}


  .nav_link:hover{

text-decoration: none;

color: rgba(0,0,0,0.5);

transition: 0.3s ease-in-out;


}



#nav_links,.nav_links{

  text-align: center;
  padding-left:20%;
  background-color:#59aeff;
  font-family: poppins !important
  ;

  
}








/*--------------------------------------------------------------
# Navigation button mobile/nav_bar mobile
--------------------------------------------------------------*/
@media only screen and (min-width:770px) and (max-width:896px){

#nav_links,.nav_links{

  text-align:;
  padding-left:-3%;
  background-color:#59aeff;
  font-family: poppins;
}

  .nav_link{

margin-left: 0em;
margin-right: 0em;


}



}

@media only screen and (max-width:769px){


.nav_button{display: none;}



#nav_links,.nav_links{

  text-align: justify;
  padding-left:0%;
  background-color:#59aeff;
}

  .nav_link{

margin-left: 1em;
margin-right: 1em;


}


}




.nav_button:hover{

opacity: 0.8;

text-decoration: none;

color: white;

}










/*--------------------------------------------------------------
# menu image
--------------------------------------------------------------*/

#main {

 background:linear-gradient(to top right ,rgba(0,70,90,0.1),rgba(0,70,90,0.4)),url("assets/img/home_background_pic.png"); 
 background-size:cover;
 background-position:center;
margin-top:;
 height:100%;

 position: relative;
 padding-bottom: 38px;
 
 box-shadow:0px 3px 15px rgba(192,192,192,0.8);
  
}

/*--------------------------------------------------------------
# menu image
--------------------------------------------------------------*/
#main input{

border-radius: 20px;
border:1px solid transparent;


}














@media only screen and (max-width:767px){


#main {

 background:linear-gradient(to top right,rgba(0,70,90,0.4),rgba(0,70,90,0.3)),url("assets/img/home_background_pic.png"); 
 background-size:cover;
 background-position:center;
margin-top:;
 height:100%;

 
 box-shadow:0px 3px 15px rgba(192,192,192,0.8);
  
}




#main h3{

font-size: 16px;

margin-top:100px;


}






}


/*--------------------------------------------------------------
# menu nav_bar
--------------------------------------------------------------*/
.navbar{

  padding-left: 18%;
  padding-right: 18%;
}


.navbar span{

text-decoration:none; 
color:white;
font-size: 12px;

}


.navbar span, .navbar a{

  margin-left: 13px;
  margin-right: 13px;
}






.btn-info{

float: right;
margin-top: -35px;
margin-right: 4px;
font-size: 12px;
border-radius: 0px 25px 25px 0px;


}

.navbar a:hover{



text-decoration: none;

background-color: white;

color: black !important;

transition:0.5s ease-in-out;



}


.btn-navbar{

  border: 1px solid white;

  padding: 5px 30px;

  color: white !important;

  border-radius: 20px;

  font-size: 12px;

  text-decoration:none; 

color:white;





}



/*--------------------------------------------------------------
# menu nav_bar mobile
--------------------------------------------------------------*/


@media only screen and (max-width:767px){


.navbar a{

text-decoration:none;

color:white; 

}


.btn-navbar{

  border: 1px solid white;

  padding: 5px 12px;

  color: white !important;

  border-radius: 10px;

}



.navbar a:hover{



text-decoration: none;

background-color: white;

color: black;

transition: 0.3s ease-in-out;

}


.navbar{

  padding-left: 0;
  padding-right: 0;
  margin-bottom: 40px;
}


}

@media only screen and (max-width:498px){


.navbar a{

text-decoration:none;

color:white; 
margin-left: 5px;
margin-right: 5px;

}


.btn-navbar{

  border: 1px solid white;

  padding: 5px 12px;

  color: white !important;

  border-radius: 10px;

}



.navbar a:hover{



text-decoration: none;

background-color: white;

color: black;

transition: 0.3s ease-in-out;

}


.navbar{

  padding-left: 0;
  padding-right: 0;
  margin-bottom: 40x;
}



}



/*--------------------------------------------------------------
# menu image
--------------------------------------------------------------*/







@media only screen and (max-width:767px){


.nav_button{display: none;}


}



/*--------------------------------------------------------------
# category
--------------------------------------------------------------*/

.category_row{

  margin-top: 50px;
}









